{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row"></div>
    <a href="{% url 'app:show_cart' %}" class="btn btn-primary">Show My Cart</a>
</div>

<script>
    $(function () {
        $.ajax({
            url: "{% url 'app:get_all_products' %}"
        }).done(function (response) {
            response.forEach(dict => {
                $(".row").append(`\
                    <div class="col">\
                        <div class="card" style="width: 18rem;">\
                            <div class="card-body">\
                                <h5 class="card-title">${dict.name}</h5>\
                                <p class="card-text">Price: ${dict.price}</p>\
                                <p class="card-text">Category: ${dict.category}</p>\
                                <button class="btn btn-success" onclick="add_to_cart(${dict.id});">Add to My Cart</button>\
                            </div>\
                    </div>\
                </div>\
                `
                );
            });
        }).fail(function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(xhr.responseText);
            console.log(thrownError);
        })
    })

    function add_to_cart(product_id) {

        $.ajax({
            url: "{% url 'app:add_product_to_cart' %}",
            type: 'get',
            data: {
                "product_id": product_id
            }
        }).done(function (response) {
            alert('The product was successfully added to your cart!');
        }).fail(function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(xhr.responseText);
            console.log(thrownError);
        });
    }
</script>

{% endblock %}