<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Our super store</title>
    {% endblock %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid"></div>
    <button class="btn btn-primary" onclick="">Show My Cart</button>
</body>

<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script>
    $(function () {
        $.ajax({
            url: "{% url 'app:get_all_products' %}"
        }).done(function (response) {
            response.forEach(dict => {
                $(".container-fluid").append(`\
                    <div class="row">\
                        <div class="col">\
                            <div class="card" style="width: 18rem;">\
                                <div class="card-body">\
                                    <h5 class="card-title">${dict.name}</h5>\
                                    <p class="card-text">Price: ${dict.price}</p>\
                                    <p class="card-text">Category: ${dict.category}</p>\
                                    <button class="btn btn-success" onclick="add_to_cart(${dict.id});">Add to My Cart</button>\
                                </div>\
                        </div>\
                    </div>\
                </div>\
                `
                );
            });
        }).fail(function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(xhr.responseText);
            console.log(thrownError);
        })
    })

    function add_to_cart(product_id) {

        $.ajax({
            url: "{% url 'app:add_product_to_cart' %}",
            type: 'get',
            data: {
                "product_id": product_id
            }
        }).done(function (response) {
            alert('The product was successfully added to your cart!');
        }).fail(function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(xhr.responseText);
            console.log(thrownError);
        });
    }
</script>


</html>